* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.section1, .section2, .section3, .section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
}

.section1 {
    height: 400px;
    background: rgb(24,62,131);
    background: linear-gradient(90deg, rgba(24,62,131,0.9444152661064426) 24%, rgba(136,64,204,0.9332107843137255) 81%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-redondo {
    width: 350px; /* Tamaño aún más grande */
    height: 350px; /* Mantener la misma altura para que sea un círculo perfecto */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQttQHAcChL5Ofxf3EjNjuMY7a9WWUANyk1rA&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    
}


.section2 {
    background-image: url("https://placehold.jp/be3737/ffffff/1000x1000.png");
    height: 400px;
    color: white;
}

.section3 {
    height: 500px;
    background-image: url("Logo.webp");
    background-size: 100%;
    background-attachment: fixed;
    color: black;
}

.section4 {
    height: 400px;
    background-color: #f5f5f5;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.foto-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.info-perfil h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.info-perfil p {
    margin-bottom: 8px;
    font-size: 1em;
    color: #666;
    text-align: center;
}

.info-perfil li {
    margin-bottom: 8px;
    font-size: 1em;
    color: #666;
    text-align: center;
}

footer {
    width: 100%;
    padding: 20px 0;
    background: #22201f;
    color: white;
    text-align: center;
    margin-top: auto;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

footer .social-icons a img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace las imágenes redondas */
    transition: transform 0.3s; /* Agrega un efecto visual al pasar el cursor */
}

footer .social-icons a img:hover {
    transform: scale(1.1); /* Amplía un poco al pasar el cursor */
}

footer h2 {
    color: #ffffff; /* Título en blanco */
    margin-bottom: 10px;
}

footer p {
    color: #cccccc; /* Texto del footer en gris claro */
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
